p{
    color: red;
    font-size: 200%;
}

h1{
    color: blue;
}

.yellow{
    color: yellow;
}

#green{
    color: green;
}

.underlined {
    text-decoration: underline;
}

#first-div {
    background-color: black;
    width: 50%;
}

#floatleft{
    background-color: black;
    width: 50%;
    float: left;
    border: 2px solid;
    border-color: red;
}

#floatright{
    background-color: black;
    width: 50%;
    float: right;
    border: 2px solid;
    border-color: red;
}

.clear-float {
    clear: both;
}

#rel-position {
    background-color: black;
    width: 50%;
    border: 2px solid;
    border-color: red;
    position: relative;
    left: 100px;

}
.z-index1 {
    position: relative;
    z-index: 2;
    opacity: 0.5;
}
.z-index2 {
    position: relative;
    top: -80px;
    background-color: brown;
    z-index: 1;
}

#square-red {
    background-color: red;
}
#square-blue {
    background-color: blue;
}
#square-green {
    background-color: green;
}

.square {
    width: 100px;
    height: 100px;
    margin: 40px;
    float: left;
    border: 10px yellow solid;
    border-style: dashed dotted solid ridge;
    border-width: 10px, 5px, 2px, 1px;
    border-radius: 20px;

    
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Google Sans", 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    
}

.font-styling {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.text-align-right {
    text-align: right;
    
}

.text-align-left {
    text-align: left;
    
}

.text-align-center {
    text-align: center;
    
}

.text-align-justified {
    text-align: justify;
}

#gradient {
    width: 500px;
    height: 100px;
    background: linear-gradient(white, blue);
}

#shadow {
    text-shadow: 2px 2px 4px green;
}

#shadow-without-fill {
    text-shadow: 2px 2px 4px green;
    color: white;

}

#shadow-without-glow {
    text-shadow: 0 0 10px red;
}

#box-shadow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    box-shadow: 3px 3px 30px yellowgreen;
}

#trans-box{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

#trans-box:hover {
    transform: translate(0px, 50px);
}

#trans-box-3d {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

#trans-box-3d:hover {
    transform: rotateY(360deg);

}

.flex-box-cont {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: aqua;
    flex-direction:row;
}
.flex-box {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    margin: 10px;
}
